/*---------------------------------------------------*/
/* Download fonts */
/*---------------------------------------------------*/

@font-face {
    font-family: Cooper;
    src: url('Fonts/cooper-hewitt/CooperHewitt-Heavy.otf');
    font-weight: 800;
}
@font-face {
    font-family: Cooper;
    src: url('Fonts/cooper-hewitt/CooperHewitt-Semibold.otf');
    font-weight: 600;
}
@font-face {
    font-family: Cooper;
    src: url('Fonts/cooper-hewitt/CooperHewitt-Book.otf');
    font-weight: 400;
}


@font-face {
    font-family: SourceSans;
    src: url('Fonts/source-sans-pro/SourceSansPro-Black.ttf');
    font-weight: 800;
}
@font-face {
    font-family: SourceSans;
    src: url('Fonts/source-sans-pro/SourceSansPro-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: SourceSans;
    src: url('Fonts/source-sans-pro/SourceSansPro-Light.ttf');
    font-weight: 200;
}

/*---------------------------------------------------*/
/* Color palette */
/*---------------------------------------------------*/

:root{
    --white : ghostwhite;
    --lightgray : whitesmoke;
    --black : #121212;
    --yellow : #ffc857;
    --dark-yellow: #f3be53; 
    --light-blue : #119da4;
    --dark-blue : #19647e;
}

:root{
    --decalage : 25px;
}

/*---------------------------------------------------*/
/* Typography */
/*---------------------------------------------------*/

body{

    background : var(--white);
    color : var(--secondary-dark);

    font-family: SourceSans, sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    
    margin: 0;

    text-align: center;

}

h1, h2, h3, h4 {
    font-family: Cooper, sans-serif;
    font-weight: 800;
}

h1 {
    font-size: 9vw;
    color : var(--yellow);
    margin-bottom: 0;
}

.subheading {
    display: block;
    font-size : 4vw;

    margin-top : 0;
    margin-bottom: 2em;
}

h2{
    font-size: 6vw;
    margin-top : 0;
}

.lightbg h2{
    color : var(--dark-blue);
}

.darkbg h2 {
    color : var(--white);
}

h3{
    margin-top: 1.75em;
    margin-bottom: 0;
}

.lightbg h3{
    color: var(--dark-yellow);
}

.darkbg h3{
    color: var(--yellow);
}

p{
    margin-top : 0.5em;
}

.tarifs-ul{
    margin-top : 0.5em;
    list-style-type: none;
}

.tarifs-dplt{
    color : gray;
    font-size : 0.85em;
}

.bold{
    font-weight : 800;
}

.lightbg .bold{
    color : var(--light-blue);
}

.darkbg .bold{
    color : var(--yellow);
}




/*---------------------------------------------------*/
/* Links */
/*---------------------------------------------------*/

.btn{

    font-family : inherit;
    font-size: 4vw;
    font-weight : 800;
    text-decoration: none;
   
    padding : 0.5em 1em;
    border : none;
    border-radius : 5px;

    display : block;
    width : 90%;
    margin: 1em auto 0 auto;

}

header .btn {
    background : var(--light-blue);
    color : var(--yellow);
}

.lightbg .btn{
    background : var(--dark-blue);
    color : var(--yellow);
}

.darkbg .btn{
    background : var(--dark-blue);
    color : var(--yellow);
}

header .btn:hover,
header .btn:active,
header .btn:focus{
    background : var(--dark-yellow);
    color : var(--light-blue);
}

.lightbg .btn:hover,
.lightbg .btn:active,
.lightbg .btn:focus{
    background : var(--dark-yellow);
    color : var(--dark-blue);
}

.darkbg .btn:hover,
.darkbg .btn:active,
.darkbg .btn:focus{
    background : var(--yellow);
    color : var(--dark-blue);
}


/*---------------------------------------------------*/
/* Layout */
/*---------------------------------------------------*/

header,
footer {
    color: var(--white);
    background-color: var(--dark-blue);

    margin: 0;
}

header{
    padding-bottom : 40px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--decalage)), 0 100%);
}

.lightbg{
    background-color: var(--white);
    padding : 20px 0 10px;
}

.darkbg{
    background-color: var(--light-blue);
    color :var(--lightgray);

    padding-top : calc(20px + var(--decalage));
    padding-bottom : calc(10px + var(--decalage));
    clip-path: polygon(0 0, 100% var(--decalage), 100% calc(100% - var(--decalage)), 0 100%);
}

.darkbg:last-of-type{
    clip-path: polygon(0 0, 100% var(--decalage), 100% 100%, 0 100%);
}


.container{
    width : 90%;
    max-width : 750px;
    margin : 0 auto;
    padding : 1em ;
}

.text{
    max-width : 450px;
    margin : 0 auto;
}

.moi img{
    width : 40%;
    border : 7px solid var(--yellow);
    border-radius: 50%;
    margin-bottom : 4%;
}

.pratique-sec-text{
    max-width : 600px;
    margin : 0 auto;
}

footer{
    font-size : 1rem;
    padding : 1em 0 0.5em 0;
}


/*---------------------------------------------------*/
/* Media queries */
/*---------------------------------------------------*/


/*  
quand écran s'agrandit
- change h1/subheading/btn font-size 
- fixer largeur des paragraphes
*/

@media (min-width : 800px) {

    body{
        font-size : 1.25rem;
    }

    h1{
        font-size: 4.5rem;
    }

    .subheading{
        font-size : 2rem;
    }

    h2{
        font-size: 3rem;
    }

    h3{
        font-size: 1.5rem;
    }

    .btn{
        font-size : 1.5rem;
        width : 50%;
    }

}

